{% extends "base.html" %}
{% block content %}

<div class="section-title">
  <h2>👨‍🎓 All Students</h2>
</div>

<div class="card">
  <table class="modern-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Year</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for s in students %}
      <tr>
        <td>{{ s.student_id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.department }}</td>
        <td>{{ s.year }}</td>
        <td>
          <a href="/faculty/student/{{ s.student_id }}" class="btn-small">
            View
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
